body {
  font-family: 'Open Sans', sans-serif;
  background: #CFD8DC;
  font-family: 'Open Sans', sans-serif;

}

.fixed-container {
  background: #455a64;
  height: 40%;
  width: 100%;
}

header  {
  width: 100%;
  background: #455a64;
  text-align: center;
  color: white;
  padding-top: 1em;
}

header span {
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 40px;
}

img {
  height: 1.5em;
}

::-webkit-input-placeholder {
  font-size: 3em;
}

.submit-btn  {
  background: #FFC107;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

.web-title, web-url {
  padding-top: 20px;
}

.display-standard {
  width: 90%;
  height: 2.5em;
  display: block;
  margin : 20px auto;
  font-size: 1em;
}

.link-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  text-indent: 1em;
  width: 95%;
  margin: 20px auto;
  border: 1px solid #607d8b;
  color: #455a64
}

.web-title-display {
  max-height: 30%;
  border-bottom: 1px solid #cfd8dc;
}

p {
  color: #607d8b;
  border-bottom: 1px solid #cfd8dc;
}

.button-container {

}

.read-button {

}

.delete-btn {

}

@media screen and (min-width: 900px) {
  body {
    display: flex;
  }

  .fixed-container {
    height: 100vh;
    width: 50%;
  }

  .card-container {
    width: 50%;
  }

  .link-card {
    height: 21%;
  }
}
