body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: #CFD8DC;
}

.fixed-container {
  background: #455a64;
  height: 40%;
  width: 100%;
}

header  {
  width: 100%;
  background: #455a64;
  text-align: center;
  color: white;
  padding-top: 1em;
}

header span {
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 40px;
}

img {
  height: 1.5em;
}

::-webkit-input-placeholder {
  text-indent: .3em;
}

.submit-btn  {
  background: #FFC107;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

.submit-btn:hover {
  background-color: #ffd773;
}

.web-title, .web-url {
  padding-top: .25em;
}

.display-standard {
  box-sizing: border-box;
  width: 85%;
  height: 2.5em;
  display: block;
  margin : 20px auto;
  font-size: 1em;
  border: 1px solid #cfd8dc;
}

.submit-btn {
  border: none;
}

.link-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 93%;
  margin: 25px auto;
  border: 1px solid #607d8b;
  color: #455a64
}

.web-title-display {
  border-bottom: 1px solid #cfd8dc;
  font-size: 1.65em;
  margin: 0 20px 0 20px;
  padding-top: .5em;
}

.web-title-display, .web-url-display {
  padding-bottom: .5em;
}

.web-url-display {
  color: #607d8b;
  border-bottom: 1px solid #cfd8dc;
  margin: 1.5em 20px 1.5em 20px;
  padding-bottom: 1em;
  text-decoration: underline;
  /*text-decoration-color: #f2f4f4;*/
}

.red-text {
  color: #f05a28;
  font-weight:800;
}
.read-btn, .delete-btn {
 border: none;
 border-bottom: 2px solid #f2f4f4;
 background-color: transparent;
 margin: 0 20px 0 20px;
}

.read-btn:hover, .delete-btn:hover {
  border-bottom-color: #ffc107;
}

.delete-btn {
  float:right;
}

.button-container {
  padding-bottom: .5em;
}


@media screen and (min-width: 900px) {
  body {
    display: flex;
  }
  .fixed-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
  }

  header {
    /*padding: 5.7em 3em .75em 3em;*/
    margin-top: 5.7em;
    margin-bottom: .75em;
    font-size: 1.65em;
    letter-spacing: .25em;
  }
  header span {
    width: 90%;
  }

  .display-standard {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
  }

  ::-webkit-input-placeholder {
    text-indent: .25em;
    /*font-size: 2em;*/
    font-weight: 200;
  }
  .submit-btn {
    box-sizing: content-box;
    height: 1.5em;
    border: none;
    font-size: 1.5em;
    margin-top: .75em;
  }
  .card-container {
    width: 50%;
  }
  .link-card {
    height: 9.25em;
    width: 92%;
  }
}
