body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: #CFD8DC;
  font-family: 'Open Sans', sans-serif;
}

.fixed-container {
  background: #455a64;
  height: 40%;
  width: 100%;
}

header  {
  width: 100%;
  background: #455a64;
  text-align: center;
  color: white;
  padding-top: 1em;
}

header span {
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 40px;
}

img {
  height: 1.5em;
}

::-webkit-input-placeholder {
  font-size: 3em;
}

.submit-btn  {
  background: #FFC107;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

.web-title, .web-url {
  padding-top:20px;
}

/*input[type="text"] {
    font-size:25px;
}*/

.display-standard {
  width: 85%;
  height: 3em;
  display: block;
  margin : 40px auto;
  font-size: 5em;
}

.link-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  text-indent: 1em;
  width: 95%;
  margin: 20px auto;
  border: 1px solid #607d8b;
  color: #455a64
}

.web-title-display {
  max-height: 30%;
  border-bottom: 1px solid #cfd8dc;
}

p {
  color: #607d8b;
  border-bottom: 1px solid #cfd8dc;
}

.button-container {

}

.read-button {

}

.delete-btn {

}

@media screen and (min-width: 900px) {

  body {
    display: flex;
  }

  .fixed-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
  }

  header {
    margin-top: 5.45em;
    margin-bottom: .75em;
    font-size: 1.75em;
    letter-spacing: .25em;
  }

  .display-standard {
    margin-top: 3em;
    margin-bottom: 3em;
    height: 1.75em;
    font-size: .5em;
  }

  ::-webkit-input-placeholder {
    text-indent: .25em;
    font-size: 3.75em;
    font-weight: 200;
    vertical-align: middle;
  }

  .submit-btn {
    box-sizing: content-box;
    height: 1.5em;
    border: none;
    font-size: 1.5em;
    margin-top: .75em;
  }

  .card-container {
    width: 50%;
  }

  .link-card {
    height: 9.25em;
    width: 92%;
  }
}
